<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card shadow-lg mt-3">
      <div class="card-body">
        <div class="box">
          <div class="image d-flex justify-content-center">
            <%= image_tag("logo_neopa.jpeg", :alt => "Logo neopa", :style => "width: 120px; height: 120px;border-radius: 55%;")%>
          </div>
          <h2 class="text-center">¿Olvidaste tú contraseña?</h2>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>
            <row>
              <div class="col">
                  <%= f.button :submit, "Cambiar contraseña", class:"btn btn-warning btn-block" %>
              </div>
              
              <div class="col">
                <%= render "devise/shared/links" %>
              </div>
            </row>

          <% end %>

          
        </div>
      </div>
    </div>
  </div>
</div>

